@{
    ViewData["Title"] = "Home Page";
}

<div>
	<h4>Salon 1</h4>
	<div class="contentDiv">
		<div class="tableDiv">
			<div class="boxDiv rowDiv">1A</div>
			<div class="boxDiv rowDiv">1B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">2A</div>
			<div class="boxDiv rowDiv">2B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">3A</div>
			<div class="boxDiv rowDiv">3B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">4A</div>
			<div class="boxDiv rowDiv">4B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">5A</div>
			<div class="boxDiv rowDiv">5B</div>
		</div>

	</div>
</div>

<div>
	<h4>Salon 2</h4>
	<div class="contentDiv">
		<div class="tableDiv">
			<div class="boxDiv rowDiv">1A</div>
			<div class="boxDiv rowDiv">1B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">2A</div>
			<div class="boxDiv rowDiv">2B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">3A</div>
			<div class="boxDiv rowDiv">3B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">4A</div>
			<div class="boxDiv rowDiv">4B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">5A</div>
			<div class="boxDiv rowDiv">5B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">6A</div>
			<div class="boxDiv rowDiv">6B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">7A</div>
			<div class="boxDiv rowDiv">7B</div>
		</div>

		<div class="tableDiv">
			<div class="boxDiv rowDiv">8A</div>
			<div class="boxDiv rowDiv">8B</div>
		</div>
	</div>
</div>
