@model LibraryReservation.Models.LibraryViewModel

@{
    ViewData["Title"] = "Kütüphane Rezervasyon Sistemi";
}

@foreach (var room in Model.Rooms.Items.OrderBy(r => r.Name))
{
    <div>
        <h4>@room.Name</h4>
        <div class="contentDiv">
            @foreach (var table in Model.Tables.Items.Where(t => t.RoomId == room.Id).OrderBy(t => t.Number))
            {
                <div class="tableDiv">
                    @foreach (var seat in Model.Seats.Items.Where(s => s.TableId == table.Id).OrderBy(s => s.Name))
                    {
                        <div id=@seat.Id class="@(seat.IsReserved ? "boxDivActive rowDiv" : "boxDiv rowDiv")">@seat.Name</div>
                    }
                </div>
            }
        </div>
    </div>
}