@model LibraryReservation.Models.LibraryViewModel

@{
    ViewData["Title"] = "Kütüphane Rezervasyon Sistemi";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div id="connectionState">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8">
            <ul class="list-group" id="listName">
            </ul>
        </div>
    </div>
</div>

<div>
    <label>Boş koltuklar:</label>
    <div id="boxDivYellow"></div>
</div>

<div>
    <label>Dolu koltuklar:</label>
    <div id="boxDivGray"></div>
</div>

<br />

<div>
    <button class="btn btn-primary" id="btnTemizle">Seçimleri Temizle</button>
</div>

@foreach (var room in Model.Rooms.Items.OrderBy(r => r.Name))
{
    <div>
        <h4>@room.Name</h4>
        <div class="contentDiv">
            @foreach (var table in Model.Tables.Items.Where(t => t.RoomId == room.Id).OrderBy(t => t.Number))
            {
                <div class="tableDiv">
                    @foreach (var seat in Model.Seats.Items.Where(s => s.TableId == table.Id).OrderBy(s => s.Name))
                    {
                        <div id=@seat.Id class="@(seat.IsReserved ? "boxDivActive rowDiv" : "boxDiv rowDiv")">@seat.Name</div>
                    }
                </div>
            }
        </div>
    </div>
}

@section Scripts
{
    <script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
}