@model LibraryReservation.Models.HistoryViewModel

@{
    ViewData["Title"] = "Geçmiş";
}
<h1>@ViewData["Title"]</h1>

<ul class="list-group">
    @foreach (var item in Model.Reservations.Items)
    {
        <li class="list-group-item">@item.StartTime</li>
    }
</ul>