<form asp-controller="Login" method="post">
    <div class="form-group">
        <label for="exampleInputUserName1">Kullanıcı Adı</label>
        <input type="text" class="form-control" id="userName" name="userName" aria-describedby="userNameHelp" placeholder="Kullanıcı Adı">
    </div>
    <br />
    <div class="form-group">
        <label for="exampleInputPassword1">Şifre</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Şifre">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Giriş</button>
</form>